body{
    text-align: center;
    width: 98%;
    min-width: 300px;
}
nav{
    text-align: right;
    padding: 0.5em 1em;
    text-size-adjust: 2rem;
    
}
.menu{
    display: inline-block;
    padding: 0.5em;
    border: 1px solid;
    background-color: #f0eee9;
       transition: transform 0.3s ease, background-color 0.5s ease;
    cursor: pointer;
    border-radius: 5px
}

#huh_main{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;  
}

.menu:hover {
    transform: scale(1.1);
    background-color: #ddd;
}
img{
    border-radius: 5px;
    margin: 1rem;
}
.img-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.slide_img{
    width: 700px;
    height: 500px;
}
footer {
  background-color: #f4f4f4; /* Арын фон (саарал өнгө) */
  padding: 2rem;
  text-align: justify;
}
/*.footer_exp1{
    width: 54%;
    text-align: left;
    height: auto;
}
.footer_exp2{
    width: 40%;
    text-align: right;
    height: auto;
}*/
.footer_exp1{
    width: 40%;
    padding: 0.5em;
}
.footer_exp2{
    width: 60%;
    padding: 0.5em;
    text-align: top;
}